include inc/core/_config
extends inc/core/_base_legacy
block title
  - var title = page.top.title
  title= title
block prepend meta
  - var sitename = name
  - var keywords = page.top.keywords
  - var description = page.top.description
  - var ogpimage = page.top.ogpimage
  - var bodyClass = 'home'
block append meta
block body
  div.l-container
    include inc/layout/_layout_header

  include inc/layout/_layout_footer
block append scriptFooter

