.articleMeta
  ul.articleMeta__snsList.articleMeta__snsList--fw
    li.articleMeta__snsItem.articleMeta__snsItem--facebook
      .fb-like(data-href="https://developers.facebook.com/docs/plugins/",data-layout="button_count",data-action="like",data-show-faces="false",data-share="false")
    li.articleMeta__snsItem.articleMeta__snsItem--twitter
      a.twitter-share-button(href="https://twitter.com/share",data-lang="ja") Tweet
      script.
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    li.articleMeta__snsItem.articleMeta__snsItem--umekomi
      a.articleMeta__umekomiBtn(href='') 埋め込み
    li.articleMeta__snsItem.articleMeta__snsItem--favorite
      a.articleMeta__favoriteBtn(href='') お気に入りに登録
      //<a href="" class="articleMeta__favoriteBtn articleMeta__favoriteBtn--done">お気に入りから外す</a>
