.editorArea {
	//WordPress
	.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
		text-align: center;
	}
	.alignleft {
		float: left;
		margin: 0 20px 0px 0px;
		_margin: 0 10px 10px 0px;
		width: auto;
	}
	.alignright {
		float: right;
		margin: 0 0px 0px 20px;
		_margin: 0 0px 20px 10px;
		width: auto;
	}
	.alignnone {
	}

	.wp-caption {
		text-align: center;
		background: #f3f1ef;
	}
	.text_box .wp-caption img {
		margin: 0;
		padding: 0;
		border: 0 none;
	}
	.wp-caption .wp-caption-text {
		margin: 0;
		padding: 8px 0;
		color: #000;
		text-align: center;
	}
}
