$ico-hyphen-name: 'ico_hyphen';
$ico-hyphen-x: 0px;
$ico-hyphen-y: 0px;
$ico-hyphen-offset-x: 0px;
$ico-hyphen-offset-y: 0px;
$ico-hyphen-width: 5px;
$ico-hyphen-height: 1px;
$ico-hyphen-total-width: 5px;
$ico-hyphen-total-height: 1px;
$ico-hyphen-image: './src/img/sprite.png';
$ico-hyphen: (0px, 0px, 0px, 0px, 5px, 1px, 5px, 1px, './src/img/sprite.png', 'ico_hyphen', );
$spritesheet-width: 5px;
$spritesheet-height: 1px;
$spritesheet-image: './src/img/sprite.png';
$spritesheet-sprites: ($ico-hyphen, );
$spritesheet: (5px, 1px, './src/img/sprite.png', $spritesheet-sprites, );

@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
