@charset "utf-8";
/* l-container
---------------------------------------- */
.l-container{
	position: relative;
	font-size: 100%;
	line-height: 150%;
	text-align: center;
}
body > .l-container{
	height:auto;
}